body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray; }
  
    nav{

        background-color: green;
        padding: 25px;
        border: 2px solid greenyellow;
        border-radius: 6px;
    }
    
    h2{
    
        margin-left: 30%;
    }
    
    .logo{
    
       
    }
    
    .projName{
    
        padding-left: 10px;
        font-size: 35px;
        color: whitesmoke;
        font-family: 'Times New Roman', Times, serif;  
    }

    .dashboard{

        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    
    .head{

      background-color:cadetblue;
      text-align: center;
      font-size: 25px;
      padding-bottom: 10px;
      border: 2px solid;
      border-radius: 5px;
      margin-right: 11%;
    }

    .head:hover{

      background-color: #96d5b3;
      
    }

    .head4{

        /* padding-bottom: 15px; */
       
        
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
       

    }

  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #3445b4; 
}
    a:hover, a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; 
    }
  
  button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
button:hover, button:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; 
    }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000; }
  
  .ftco-section {
    padding: 7em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
    .heading-section small {
      font-size: 18px; }
  
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
  .wrapper {
    
    width: 100%;
    margin-top: 10%;
}
  
  #sidebar {
    min-width: 300px;
    max-width: 300px;
    margin-left: 0px;
    background: #3445b4;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; 
}

.list-unstyled{

    margin-right: 50%;
}

#sidebar .h6 {
      color: #fff; 
    }
#sidebar.active {
      margin-left: -400px; 
    }
#sidebar h3 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px; 
    }
#sidebar h3 .logo {
        color: #fff; 
    }
#sidebar h3 .logo span {
          font-size: 14px;
          color: #44bef1;
          display: block; 
        }
#sidebar ul.components {
      padding: 0; 
    }
#sidebar ul li {
      font-size: 16px; 
    }
#sidebar ul li > ul {
        margin-left: 10px; 
    }
#sidebar ul li > ul li {
          font-size: 14px; 
        }
#sidebar ul li a {
        padding: 10px 0;
        display: block;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    }
#sidebar ul li a span {
          color: #44bef1; 
        }
#sidebar ul li a:hover {
          color: #fff; 
        }
#sidebar ul li.active > a {
        background: transparent;
        color: #fff; 
    }
    @media (max-width: 991.98px) {
      #sidebar {
        margin-left: -270px; }
        #sidebar.active {
          margin-left: 0; } }
    #sidebar .custom-menu {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 0;
      margin-right: -20px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (prefers-reduced-motion: reduce) {
        #sidebar .custom-menu {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      #sidebar .custom-menu .btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative; }
        #sidebar .custom-menu .btn i {
          margin-right: -40px;
          font-size: 14px; }
        #sidebar .custom-menu .btn.btn-primary {
          background: transparent;
          border-color: transparent; }
          #sidebar .custom-menu .btn.btn-primary:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #3445b4;
            border-radius: 10px; }
          #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
            background: transparent !important;
            border-color: transparent !important; }
  
  a[data-toggle="collapse"] {
    position: relative; }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  @media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; } }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  
  .btn.btn-primary {
    background: #3445b4;
    border-color: #3445b4; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #3445b4 !important;
      border-color: #3445b4 !important; }
  
  .footer p {
    color: rgba(255, 255, 255, 0.5); }
  
  .form-control {
    height: 40px !important;
    background: #fff;
    color: #000;
    font-size: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: transparent; }
    .form-control:focus, .form-control:active {
      border-color: #000; }
    .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.5); }
    .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.5); }
    .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(255, 255, 255, 0.5); }
    .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.5); }
  
  .subscribe-form .form-control {
    background: #3b4ec6; 
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; 
}
  
  .media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; 
}
    .stretched-link::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: rgba(0, 0, 0, 0); 
    }  

.footer{
    background-color: green;
    border: 2px solid greenyellow;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-right: 0%;
}

.copyright{

    color: white;
}

/* piechart 2 css styles */

.highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 660px;
  margin: 1em auto;
}

.highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}


/* show graph portion */

.bg{

  background-color: #96d5b3;
}

.container{

  /* float: inline-start; */
}

.table{

  list-style: none;
  display: inline;
  /* float:initial; */
  /* align-content: center; */
}

.row{

  background-color: wheat;
  margin-right: 90%; text-align: 
  center; padding: 8px; 
  border: 2px solid wheat; 
  border-radius: 3px;
  font-family: 'Times New Roman', Times, serif;
}

.red:hover{

  background-color:ivory;
  color: red;
}

.green:hover{

  background-color:ivory;
  color: greenyellow;
}